/* Global Styles */
body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background-color: #fdf5e6; /* cream */
    color: #111;
}

/* Intro Section */
.intro-container {
    background-color: #000;
    color: #fdf5e6;
    text-align: center;
    padding: 40px 8px;
}

.intro-container h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.intro-container h2 {
    font-weight: 300;
    font-size: 1.2em;
}

/* About Section */
.about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 20px;
    gap: 40px;
    flex-wrap: wrap;
}

.about-img {
    position: relative;
    width: 300px;
    height: 300px;
    perspective: 1000px; /* adiciona profundidade */
}

.about-img img {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.5s ease;
    box-shadow: 0 4px 20px rgba(0,0,0,0.3);
}

/* imagem de baixo */
.about-img::before {
    content: "";
    position: absolute;
    top: 12px;
    left: 12px;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background-color: rgb(82, 62, 42);
    z-index: -1;
    box-shadow: 0 8px 25px rgba(0,0,0,0.3);
    transform: rotate(-3deg);
    opacity: 0.8;
}

/* efeitos no hover */
.about-img:hover img {
    transform: translateY(-8px) rotateY(5deg) scale(1.05);
    box-shadow: 0 10px 30px rgba(0,0,0,0.4);
    filter: brightness(1.1);
}

.about-img:hover::before {
    transform: rotate(-8deg);
    opacity: 1;
}


.about-text {
    max-width: 600px;
}
.about-text p {
    line-height: 1.6;
    font-size: 1.1em;
}
.about-text h3 {
    font-size: 2.2em;
    margin-bottom: 15px;
}

/* Skills Section */
.skills-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 20px;
    padding: 60px 20px;
    flex-wrap: wrap;
}

.skill-card {
    background-color: #000;
    color: #fdf5e6;
    padding: 30px;
    border-radius: 12px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.skill-card h3 {
    margin-bottom: 10px;
}

/* Footer */
footer {
    background-color: #000;
    color: #fdf5e6;
    text-align: center;
    padding: 30px 20px;
}

footer .socials a {
    color: #fdf5e6;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
}

footer .socials a:hover {
    text-decoration: underline;
}
